p {
  color:White;

}
li {
  font-size: 30;
  font-family:ariel;
}
#aboutme {
font-size: 70;
font-family:ariel;
}
.myfirstclass {
  color:white;
  font family:ariel;
}


  #mainpagebody {
    background-color:grey;
  }
  #mainpagebody2 {
    background-color: pink;
  }
  #zebra {
    font-size: 30;
    color:red;
    font-family;ariel;
  }

  #sarah {
    font-size: 30;
    color:purple;
  }

  #kayla {
    font-size: 30;
    color:darkblue;
  }
  #abby {
    font-size: 30;
    color:green;
  }

  #classAW {
    text-align: center;
    color:white;
    background-color: red;
  }

  #shivani {


  }

#emma {
  float:right;
}

#break {
    text-align: center;
}

#jen {
  height:100px;
}

#abs {
  height:150px;
}

#ss {
    height:100px;
}

#rr {
  height:100px;
}

#sw {
  height:100px;
}

#sb {
  height:150px;
}

#chocolate {
    height:100px;
}

#MPV {
  float:right;
}
#pics {
  position:50px;
  height:200px;
  float: right;
}
#picss {
  position:50px;
  height: 200px;
  float: right;
}
#picsss {
  position:50px;
  height: 200px;
}

#picssss {
  position:50px;
  height: 200px;
}

#picsssss {
  position:50px;
  height: 200px;
}

picssssss {
  position:50px;
  height: 200px;
}

#vid {
  position:50px;
  height: 100px;
  float: right;
}

.x {
  font-size: 30px;
  font-family: ariel;
  background-color: purple
}

.y {
  font-size: 30px;
  font-family: ariel;
  background-color: red
}

.sports {
  font-size: 30px;
  font-family: ariel;
    background-color: yellow
}
